.channel{
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 158px;
    background-color:#F7F7F7;
    margin-right: 32px;
    border-radius: 12px;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 16px;
}
.text{
    font-weight: bold;
    font-size: 16px;
}