.TitleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 32px;
    align-items: center;
    margin-right: 115px;
}
.link{
    font-weight: 600;
    font-size: 16px;
    color: #503E9D;
    text-decoration: none;
}
.linkImg{
    margin-left: 10px;
}
